.hero-quote-btn {
    height: 60px;
    width: 200px;
    @extend %roboto-medium;
    font-size: 18px;
    line-height: 24px;
    margin-top: 64px;
    margin-bottom: 64px;
    border-radius: 4px;
    background-color: #F1A153;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.hero-wrapper {
    background: url('../images/hero-img.jpg');
    background-size: cover;
    background-position: center;
    .main-heading {
        @extend %roboto-bold;
        color: #fff;
        text-align: left;
        font-size: 66px;
        line-height: 80px;
        margin-top: 120px;
    }
    .main-subtitle {
        @extend %font-roboto;
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        margin-top: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .hero-wrapper {
        .main-heading {
            text-align: center;
            font-size: 38px;
            line-height: 48px;
            padding: 0px 14px;
        }
        .main-subtitle {
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            padding: 0px 14px;
            margin-top: 40px;
        }
        .btn-container {
            display: table;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero-quote-btn {
        width: 290px;
    }
}